html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
